<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>Use this site to get weather information!</p>
    </div>
    {{>footer}}
</body>
</html> 